<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exit iFrame</title>
    <script src="https://unpkg.com/@shopify/app-bridge@3"></script>
    <script src="https://unpkg.com/@shopify/app-bridge-utils@3"></script>

    <script>
        var AppBridge = window['app-bridge'];
        var createApp = AppBridge.default;
        var actions = AppBridge.actions;
        var Redirect = actions.Redirect;

        const config = {
            apiKey: '{{ client_id }}',
            host: new URLSearchParams(location.search).get("host"),
            forceRedirect: true
        };

        const app = createApp(config);
        const redirectUri = "{{ redirect_url }}".replaceAll("&amp;", "&")
        const url = new URL(decodeURIComponent(redirectUri));

        if (url.hostname === location.hostname) {
            const redirect = Redirect.create(app);
            redirect.dispatch(
                Redirect.Action.REMOTE,
                decodeURIComponent(redirectUri)
            );
        }


    </script>

</head>
<body>
<!--
This page loads in the app iframe and calls the AppBridge Redirect
to redirect the top window (outer frame) to the redirect_url,
which will just be the /home url with the embedded flag removed.

Form there the home url will redirect to the auth_utl
-->
</body>
</html>