<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exit iFrame</title>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@10.16.1/build/esm/styles.css"/>
    <script src="https://unpkg.com/@shopify/app-bridge@3"></script>
    <script src="https://unpkg.com/@shopify/app-bridge-utils@3"></script>
    <script src="/js/config.js?hmac={{ hmac }}"></script>
    <script src="/static/js/main.js?hmac={{ hmac }}"></script>

</head>
<body onload="initApp()">
<div class="Polaris-Page">

    <div class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingLoose">
        <div class="Polaris-Stack__Item">

            <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                    <p>View a summary of your online store’s performance.</p>
                    <div id="re2response"></div>
                    <div>
                        <button onclick="callHome();">
                            Call Home
                        </button>
                        <button onclick="authRedirect('/scope/read_product_listings');">
                            Approve Read Product Listings
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="Polaris-Stack__Item">

            <div id="divRe2ProgramDetails"></div>

        </div>
        <div class="Polaris-Stack__Item">
            <div class="Polaris-Card">
                <div class="Polaris-Card__Section">

                    <div id="divFooter">footer</div>

                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>