<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exit iFrame</title>
    <script src="https://unpkg.com/@shopify/app-bridge@3"></script>
    <script src="https://unpkg.com/@shopify/app-bridge-utils@3"></script>

    <script>
        var AppBridge = window['app-bridge'];
        var createApp = AppBridge.default;
        var actions = AppBridge.actions;
        var Redirect = actions.Redirect;

        const config = {
            apiKey: '{{ client_id }}',
            host: new URLSearchParams(location.search).get("host"),
            forceRedirect: false
        };

        const app = createApp(config);


    </script>

</head>
<body>
This page is the main page - should be in a frame...

<code>
    {{ params }}

</code>
{{ access_token }}
</body>
</html>